
.background-slide{
    height: 600px;
    display: block
}
.background-slider{
    height: 700px;
    display: block
}
.swiper-slide img {
    top: 7em;
    position: relative;
    height: 14em;
    top: 5em;
}
.heading{
    top: 7em;
    position: relative;
}
.describe {
    top: 7em;
    position: relative;
}
.btn-home{
    position: relative;
    top: 10em;
}
