<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide class="background-slide">
            <img src="assets/images/slider1.png">
          <ion-row>
            <ion-col>
                <h3 class="heading">Lorem Ipsum</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <p class="describe"> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide class="background-slide">
            <img src="assets/images/slider2.png">
          <ion-row>
            <ion-col>
                <h3 class="heading">Lorem Ipsum</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <p class="describe"> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide class="background-slider">
            <img src="assets/images/slider3.png">
          <ion-row>
            <ion-col>
                <h3 class="heading">Lorem Ipsum</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <p class="describe"> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <ion-button color="success" class="btn-home" (click)="dirToUser()">Home Page</ion-button>
            </ion-col>
          </ion-row>
        </ion-slide>
    </ion-slides>
</ion-content>